.apod-item {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-row-gap: 1rem;
  .header {
    grid-area: 1 / 1 / 2 / 2;
  }
  .image {
    grid-area: 2 / 1 / 2 / 2;
  }
  .footer {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
